# IDEs
.idea
.vscode
.vs

# CMake
CMakeUserPresets.json

# Build results
/build
/cmake-build-debug
/cmake-build-release

# Resource
/res

# vcpkg
/vcpkg_installed
/vcpkg.json
/vcpkg-configuration.json
